@{
    ViewBag.Title = "Index";
}

<div class="jumbotron indexBackgroundJumbotron">
    <h1>Horta in Home</h1>
    <p class="lead">Rede social destinada para pessoas que cultivam hortas em sua própria casa.</p>
    @*<p><a href="#" class="btn btn-primary btn-md">learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Mantenha-se Atualizado</h2>
        <p>
            Na Horta in Home você poderá se manter atualizado sobre as 
            novidades e tendências sobre as tecnologias e avanços no 
            cuidado de suas plantações.
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Ciclo de Amigos</h2>
        <p>
            Você vai poder manter contato sempre que quiser com seu ciclo de amizades 
            podendo compartilhar seus momentos, ideias e eventos.
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Não perca tempo</h2>
        <p>
            Está esperando o que? Venha fazer parte da maior rede social de Hortas do Brasil.
            Faça login ou registre-se para participar.
        </p>
        @*<p><a class="btn btn-default" href="" > &raquo;</a></p>*@
    </div>
</div>